{% extends "base.html.twig" %}

{% block body %}

<main>        
<div class="container py-2">

    <div class="row">
        <!-- Proposition -->
        <div class="d-none d-lg-block col-3">
            <h4><strong>Besoin de vous !</strong></h4>
            <hr>
            {% for proposition in propositions %}
            
            <a href="{{ path('proposition_show', {'id': proposition.id}) }}">
                <h3>{{ proposition.titre }}</h3>
                <p>{{ proposition.description }}</p>
            </a>

            {% endfor %}

            <a class="twitter-timeline" data-link-color="#E81C4F" data-theme="light" data-tweet-limit="2" data-width="220" 
            href="https://twitter.com/Anciela?ref_src=twsrc%5Etfw">Tweets by Anciela</a>

        </div>
        
        <!-- presentation -->
        <div class="col-12 col-lg-9 text-center text-lg-left">
            <h4><strong>Envie d'agir ?</strong></h4><br>
            <h5>Comme chacun peut aider à rendre notre société plus écologique, plus solidaire et plus humaine,
                Associa'Lyon
                favorise
                la rencontre entre des personnes qui ont envie d'agir et des associations où s'engager.</h5><br>
            <h4><strong>Et cela de plusieurs façons !</strong></h4>
            <hr>

            <!-- Categories -->
            <div class="row">
            {% for categorie in categories %}

            <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-5">
                
                <a href="{{ path('categorie_show', {'id': categorie.id}) }}">
                <div class="card" style="width: 17rem; height: 26rem;">
                    <img src="../dist/img/categorie/{{ categorie.img }}" class="card-img-top" alt="{{ categorie.titre }}">
                    <div class="card-body" id="amap">
                        <h5 class="card-title mb-3" style="font-size: 0.9em;"><strong>{{ categorie.titre }}</strong></h5>
                        <p class="card-text" style="font-size: 0.8em;">{{ categorie.description|length > 140 ? categorie.description|slice(0, 140) ~ '...' : categorie.description }}</p>
                    </div>
                </div>
                </a>

            </div>

            {% endfor %}

        </div>

        

</main>

{% endblock %}

{% block javascripts %}
<script async charset="utf-8" src="https://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="{{ asset('/dist/js/carousel.js') }}"></script>
{% endblock %}
