{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" 
        integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA==" crossorigin="" />
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="m-4 font-weight-normal">Carte interactive</h2>
                <p>Cherchez et trouvez toutes les initiatives de quartier autour de vous sur notre carte interactive!</p><br>
                <p>Elle rassemble plus de 700 manières d'agir et de s'inspirer dans des associations sur Lyon et ses alentours</p>


                {% for initiative in initiatives %}
                    <div class="card mt-5"
                        data-initiative-id={{ initiative.id }}
                        data-initiative-longitude={{ initiative.longitude }}
                        data-initiative-latitude={{ initiative.latitude }}
                        data-initiative-categorie-id={{ initiative.categorie.id }}
                        data-initiative-titre={{ initiative.titre }}

                        style="display:none"
                    >
                        <div class="card-body">
                            <h4 class="card-subtitle mb-2 text-muted">{{ initiative.categorie.titre }}</h4><br>
                            <h5 class="card-title">{{ initiative.titre }}</h5>
                            <p class="card-text">{{ initiative.description }}</p>
                            <p class="card-text">{{ initiative.adresse }}</p>
                            <p class="card-text">{{ initiative.zip }} {{ initiative.ville }}</p>
                            <p class="card-text">{{ initiative.phone }}</p>
                            <a class="card-text" href="{{ initiative.siteweb }}" target="_blank">{{ initiative.siteweb }}</a>
                            
                        </div>
                    </div>
                {% endfor %}
                
            </div>
            <div class="col-12 col-md-6 mt-4">
                <div id="mapid" style="height: 700px; width: 700px;"></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js" 
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg==" crossorigin=""></script>
    <script type="text/javascript" src="{{ asset('/dist/js/leaflet.js') }}"></script>

    <script>

        $(function() {

            


            var mymap = L.map('mapid').setView([45.75, 4.85], 12);



            var tileStreets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>,Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiZGVpdmVjYXQiLCJhIjoiY2pzazcwdXZxMHh6YzQzbGlmb2RuaTJtdSJ9.b6xnSK_6kVfPgM4B_RF1BA'
            })
            tileStreets.addTo(mymap);

            $("div[data-initiative-id]").each(function() {


                const el = $(this);

                var icon = null;

                switch (el.data('initiative-categorie-id')) {
                case 1:
                    icon = amapIcon;
                    break;
                case 2:
                    icon = cafeIcon;
                    break;
                case 3:
                    icon = boitePartageIcon;
                    break;
                case 4:
                    icon = composteurIcon;
                    break;
                case 5:
                    icon = cygaleIcon;
                    break;
                case 6:
                    icon = echangesLocauxIcon;
                    break;
                case 7:
                    icon = jardinsPartagesIcon;
                    break;
                case 8:
                    icon = reparationVeloIcon;
                    break;
                default:
                    icon = cygaleIcon;
                }

                L.marker([ el.data('initiative-latitude') , el.data('initiative-longitude')], {
                icon: icon
                }).addTo(mymap).bindPopup("data-initiative-titre").on('click', function() { 


                    $("div[data-initiative-id]").each(function() {
                        $(this).hide();
                    });

                    el.show();

                });

            });

        });

    </script>

{% endblock %}
