{% extends "base.html.twig" %}

{% block body %}

<h1 class="m-4 font-weight-normal" style="text-align:center">Mon espace</h1>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="m-4 font-weight-normal" style="text-align:center">Mes initiatives</h2><br>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Adresse</th>
            <th>Zip</th>
            <th>Ville</th>
            <th>Siteweb</th>
            <th>Phone</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for initiative in initiatives %}
        <tr>
            <td>{{ initiative.titre }}</td>
            <td>{{ initiative.description }}</td>
            <td>{{ initiative.adresse }}</td>
            <td>{{ initiative.zip }}</td>
            <td>{{ initiative.ville }}</td>
            <td>{{ initiative.siteweb }}</td>
            <td>{{ initiative.phone }}</td>
            <td>
                <a href="{{ path('initiative_show', {'id': initiative.id}) }}">Voir</a>

                {% if is_granted('ROLE_USER') and initiative.user.id == user.id %}
                <a href="{{ path('initiative_edit', {'id': initiative.id}) }}">Modifier</a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="11">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('initiative_new') }}">Nouvelle initiative</a>
        </div>

        <div class="col-12 col-md-6">       
            <h2 class="m-4 font-weight-normal" style="text-align:center">Mes Propositions</h2><br>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Created_at</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        {% for proposition in propositions %}
        <tr>
            <td>{{ proposition.titre }}</td>
            <td>{{ proposition.description }}</td>
            <td>{{ proposition.createdAt ? proposition.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>
                <a href="{{ path('proposition_show', {'id': proposition.id}) }}">Voir</a>
                {% if is_granted('ROLE_USER') and proposition.user.id == user.id %}
                <a href="{{ path('proposition_edit', {'id': proposition.id}) }}">Modifier</a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('proposition_new') }}">Nouvelle proposition</a>
        </div>
    </div>
</div>
{% endblock %}