{% extends "base.html.twig" %}

{% block body %}

<h1 class="mt-4 font-weight-normal" style="text-align:center">Bienvenu {{ user.firstname }}</h1><br><hr>
<div class="container">
    <div class="row">

        <div class="col-12 col-md-6">
            <h2 class="m-4 font-weight-normal text-center">Mes initiatives</h2>

                        {% for initiative in initiatives %}

                        <div class="card mb-2">
                            <div class="card-header">{{ initiative.titre }}</div>
                            <div class="card-body">{{ initiative.description }}</div>
                            <div class="card-footer">
                                <a href="{{ path('initiative_show', {'id': initiative.id}) }}" class="btn btn-outline-info">Voir</a>

                                {% if is_granted('ROLE_USER') and initiative.user.id == user.id %}
                                    <a href="{{ path('initiative_edit', {'id': initiative.id}) }}" class="btn btn-outline-info">Modifier</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                <a href="{{ path('initiative_new') }}" class="btn btn-outline-info" style="float:right">Nouvelle initiative</a>
        </div>

        <div class="col-12 col-md-6">       
            <h2 class="m-4 font-weight-normal text-center">Mes Propositions</h2>

                        {% for proposition in propositions %}

                        <div class="card mb-2">
                            <div class="card-header">{{ proposition.titre }}</div>
                            <div class="card-body">{{ proposition.description }}</div>
                            <div class="card-footer">
                                <a href="{{ path('proposition_show', {'id': proposition.id}) }}" class="btn btn-outline-info">Voir</a>
                                {% if is_granted('ROLE_USER') and proposition.user.id == user.id %}
                                    <a href="{{ path('proposition_edit', {'id': proposition.id}) }}" class="btn btn-outline-info">Modifier</a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                <a href="{{ path('proposition_new') }}" class="btn btn-outline-info" style="float:right">Nouvelle proposition</a>
        </div>
    </div>
</div>
{% endblock %}