{{ form_start(form) }}
        {{ form_row(form.titre) }}
        {{ form_row(form.description) }}
    <div id="locationField">
        <label for="autocomplete">Votre adresse</label>
        <input class="form-control" id="autocomplete" placeholder="" onFocus="geolocate()" type="text" />        
    </div>
        {{ form_row(form.adresse) }}
        {{ form_row(form.zip, {'label': 'Code postale'}) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.siteweb) }}
        {{ form_row(form.phone, {'label': 'Téléphone'}) }}
        {{ form_row(form.longitude) }}
        {{ form_row(form.latitude) }}
        {{ form_row(form.categorie) }}
        {{ form_row(form.img) }}
        <button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}


{% block javascripts %}
<script type="text/javascript" src="{{ asset('/dist/js/autocomplete.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD098T9MESiCa4Dnm21lZBKvlbfYk1sVFc&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}