<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
        <br>
        <h5>Exprimez-vous, vos besoins seront publiés en page d'accueil du site Associa'Lyon...</h5><br>
        <p>Créer un groupe de travail ou de reflexion pour cultiver un jardin en ville, émettre vos besoins en bénévoles,
        animer des ateliers, informer vos voisins  d'un évènement dans  votre quartier...
        </p>
        </div>
    
        <div class="col-12 col-md-6">
{{ form_start(form) }}
    
        {{ form_row(form.titre, {'label': 'Nom de l\'initiative'}) }}

        {{ form_row(form.description, { 'attr': { 
        'style' : 'height: 150px'}} ) }}
    <div id="locationField">
        <label for="autocomplete">Votre adresse</label>
        <input class="form-control" id="autocomplete" placeholder="" onFocus="geolocate()" type="text" />        
    
        {{ form_row(form.adresse) }}
        {{ form_row(form.zip, {'label': 'Code postale'}) }}
        {{ form_row(form.ville) }}
        {{ form_row(form.siteweb) }}
        {{ form_row(form.phone, {'label': 'Téléphone'}) }}
        {{ form_row(form.longitude) }}
        {{ form_row(form.latitude) }}
        {{ form_row(form.categorie) }}
    </div>
        
        {{ form_row(form.img) }}

<button class="btn btn-outline-info">{{ button_label|default('Enregistrer') }}</button>
<a href="{{app.request.headers.get('referer') }}" class="btn btn-outline-info">Annuler</a>

{{ form_end(form) }}
        </div>
    </div>
</div>

{% block javascripts %}
<script type="text/javascript" src="{{ asset('/dist/js/autocomplete.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD098T9MESiCa4Dnm21lZBKvlbfYk1sVFc&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}