{% extends 'base.html.twig' %}

{% block title %}Mes Initiatives{% endblock %}

{% block body %}
    <h2 class="m-4 font-weight-normal text-center">Mes initiatives</h2>
    <div class="container">
    <div class="col-12">
    <table class="table table-striped table-bordered text-center">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ initiative.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ initiative.description }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ initiative.adresse }}</td>
            </tr>
            <tr>
                <th>Code postal</th>
                <td>{{ initiative.zip }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ initiative.ville }}</td>
            </tr>
            <tr>
                <th>Site Web</th>
                <td>{{ initiative.siteweb }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ initiative.phone }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ initiative.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ initiative.latitude }}</td>
            </tr>
        </tbody>
    </table>
      
    <a href="{{ path('home') }}" class="btn btn-outline-info" style="float:right">Retour à la liste</a>
    {% if is_granted('ROLE_USER') and initiative.user.id == user.id %}
    <a href="{{ path('initiative_edit', {'id': initiative.id}) }}" class="btn btn-outline-info" style="float:left">Modifier</a>
    {{ include('initiative/_delete_form.html.twig') }}
    {% endif %}
    </div>
    </div> 
{% endblock %}

