{% extends 'base.html.twig' %}

{% block title %}Liste des propositions{% endblock %}

{% block body %}
    <h2 class="m-4 font-weight-normal text-center">Liste des propositions</h2><br>

    <div class="container">
        <div class="col-12">
            <table class="table table-striped table-bordered text-center">
    
        <thead>
            <tr>
                <th>Titre</th>
                <th>Description</th>
                <th>Crée le</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proposition in propositions %}
            <tr>
                <td>{{ proposition.titre }}</td>
                <td>{{ proposition.description }}</td>
                <td>{{ proposition.createdAt ? proposition.createdAt|date('d-m-Y') : '' }}</td>
                <td>
                    <a class="btn btn-outline-info"href="{{ path('proposition_show', {'id': proposition.id}) }}">Voir</a>
                </td>                
            </tr>            
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>

    <a href="{{ path('proposition_new') }}" class="btn btn-outline-info">Nouvelle proposition</a>
        </div>
    </div>
{% endblock %}
