{% extends 'base.html.twig' %}

{% block title %}{{ proposition.titre }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <h1>{{ proposition.titre }}</h1>
            <hr>
            <h4>{{ proposition.description }}</h4>
            <br>
            {{ proposition.createdAt ? proposition.createdAt|date('d-m-Y') : '' }} 
            <br>
            
            <a class="btn btn-outline-info" href="{{ path('proposition_index') }}">Retour</a>            
            {% if is_granted('ROLE_USER') and proposition.user.id == user.id %}
            <a class="btn btn-outline-info" href="{{ path('proposition_edit', {'id': proposition.id}) }}">Modifier</a>
            {{ include('proposition/_delete_form.html.twig') }}
            {% endif %}              
        </div>
        <div class="col-12 col-md-6">   
                {{ form_start(form) }}
                {% if is_granted('ROLE_USER') %}
                {{ form_row(form.message) }}
                <button class="btn btn btn-outline-info">{{ button_label|default('Envoyer') }}</button>
                {% endif %}
                {{ form_row(form.message, {'attr': {
                    'placeholder': 'Merci de vous connecter',
                    'disabled': 'true'
                }}) }}
                {{ form_end(form) }}

                {% for message in proposition.messages %}
                <p>Le {{ message.createdAt ? message.createdAt|date('d-m-Y H:i:s') : '' }}
                    posté par {{ message.user.firstname }} {{ message.user.surname }}
                </p>
                <br>
                <p>{{ message.message }}</p>
                        
                {% endfor %}

        </div>        
    </div>
</div>
{% endblock %}
