{% extends 'base.html.twig' %}

{% block title %}Initiative index{% endblock %}

{% block body %}

<div class="container py-2">
    <h1>Categorie</h1>
        <div class="row">
            {% for categorie in categories %}

            <div class="d-flex justify-content-center col-12 col-md-6 col-xl-4 mt-5">
                
                <a href="{{ path('categorie_show', {'id': categorie.id}) }}">
                <div class="card" style="width: 17rem; height: 26rem;">
                    <img src="../dist/img/categorie/{{ categorie.img }}" class="card-img-top" alt="{{ categorie.titre }}">
                    <div class="card-body" id="amap">
                        <h5 class="card-title"><strong>{{ categorie.titre }}</strong></h5>
                        <p class="card-text">{{ categorie.description }}</p>
                    </div>
                </div>
                </a>

            </div>

            {% endfor %}

        </div>
</div>
{% endblock %}
