{% extends 'base.html.twig' %}

{% block title %}{{ categorie.titre }}{% endblock %}

{% block body %}
<h1>{{ categorie.titre }}</h1>
<p>{{ categorie.description }}</p>

<a href="{{ path('initiative_new') }}">Create new</a>

<table class="table">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Adresse</th>
            <th>Zip</th>
            <th>Ville</th>
            <th>Siteweb</th>
            <th>Phone</th>            
            <th>actions</th>
        </tr>
    </thead>
    <tbody>        
        {% for initiative in categorie.initiative %}
            <tr>
                <td>{{ initiative.titre }}</td>
                <td>{{ initiative.description }}</td>
                <td>{{ initiative.adresse }}</td>
                <td>{{ initiative.zip }}</td>
                <td>{{ initiative.ville }}</td>
                <td>{{ initiative.siteweb }}</td>
                <td>{{ initiative.phone }}</td>
                <td>
                    <a href="{{ path('initiative_show', {'id': initiative.id}) }}">show</a>

                    {% if is_granted('ROLE_USER') and initiative.user.id == user.id %}
                    <a href="{{ path('initiative_edit', {'id': initiative.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>        
            {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}
