{% extends 'base.html.twig' %}

{% block title %}{{ categorie.titre }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
                <h2>{{ categorie.titre }}</h2><br>
                <p class="mb-4">{{ categorie.description }}</p>
                <a class="btn btn-outline-info" href="{{ path('initiative_new') }}">Ajouter une initiative</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Description</th>
                        <th>Adresse</th>
                        <th>Ville</th>
                        <th>Siteweb</th>
                        <th>Phone</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for initiative in categorie.initiative %}
                    <tr>
                        <td>{{ initiative.titre }}</td>
                        <td>{{ initiative.description }}</td>
                        <td>{{ initiative.adresse }}</td>
                        <td>{{ initiative.ville }}</td>
                        <td>{{ initiative.siteweb }}</td>
                        <td>{{ initiative.phone }}</td>
                        <td>
                            <a class="btn btn-outline-info" href="{{ path('initiative_show', {'id': initiative.id}) }}">Voir</a>

                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="11">Aucune donnée dans cette catégorie</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
</div>


{% endblock %}